@import "tailwindcss";

:root {
  --background: #09090B;
  --foreground: #FAFAFA;

  --surface: #111113;
  --card: #18181B;

  --primary: #6366F1;
  --secondary: #22D3EE;

  --muted: #A1A1AA;
  --border: #27272A;
}


* {
  border-color: var(--border);
}


html {
  scroll-behavior: smooth;
}


body {
  background:
    radial-gradient(
      circle at top,
      rgba(99,102,241,0.15),
      transparent 35%
    ),
    var(--background);

  color: var(--foreground);

  min-height:100vh;
}

section {
  scroll-margin-top: 90px;
}